<footer>
	<div class="ui container">
		<div class="ui left">
		<span id="jinrishici-sentence">正在加载今日诗词....</span>
		</div>
		<script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js "charset="utf-8"></script>
		<div class="ui right links">
		    {{if ShowFooterTemplateLoadTime}}{{.i18n.Tr "page"}}: <strong>{{LoadTimes .PageStartTime}}</strong> {{.i18n.Tr "template"}}: <strong>{{call .TmplLoadTimes}}</strong>{{end}}
			<div class="ui language bottom floating slide up dropdown link item">
				<i class="world icon"></i>
				<div class="text">{{.LangName}}</div>
				<div class="menu">
					{{range .AllLangs}}
						<a lang="{{.Lang}}" class="item {{if eq $.Lang .Lang}}active selected{{end}}" href="{{if eq $.Lang .Lang}}#{{else}}{{$.Link}}?lang={{.Lang}}{{end}}">{{.Name}}</a>
					{{end}}
				</div>
			</div>
			{{if .EnableSwagger}}<a href="{{AppSubUrl}}/api/swagger">API</a>{{end}}
			{{template "custom/extra_links_footer" .}}
		</div>
	</div>
</footer>
