#Host gitlab.com codeberg.org
Host gitlab.com
	User git
	ProxyCommand nc -v -x 127.0.0.1:7890 %h %p
Host karen.tarsier-ci.org codeberg.org
	ProxyCommand nc -v -x 127.0.0.1:7890 %h %p
Host github.com
	Hostname ssh.github.com
	Port 443
	User git
	ProxyCommand nc -v -x 127.0.0.1:7890 %h %p
